@model aarb.Models.AarevenueBureau

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>AarevenueBureau</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BudgetYearId" />
            <div class="form-group">
                <label asp-for="AarevenueBureauNameAmharic" class="control-label"></label>
                <input asp-for="AarevenueBureauNameAmharic" class="form-control" />
                <span asp-validation-for="AarevenueBureauNameAmharic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AarevenueBureauNameEnglish" class="control-label"></label>
                <input asp-for="AarevenueBureauNameEnglish" class="form-control" />
                <span asp-validation-for="AarevenueBureauNameEnglish" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LetterNo" class="control-label"></label>
                <input asp-for="LetterNo" class="form-control" />
                <span asp-validation-for="LetterNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InsertedDate" class="control-label"></label>
                <input asp-for="InsertedDate" class="form-control" />
                <span asp-validation-for="InsertedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdatedDate" class="control-label"></label>
                <input asp-for="UpdatedDate" class="form-control" />
                <span asp-validation-for="UpdatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeletedDate" class="control-label"></label>
                <input asp-for="DeletedDate" class="form-control" />
                <span asp-validation-for="DeletedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InsertedBy" class="control-label"></label>
                <input asp-for="InsertedBy" class="form-control" />
                <span asp-validation-for="InsertedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdatedBy" class="control-label"></label>
                <input asp-for="UpdatedBy" class="form-control" />
                <span asp-validation-for="UpdatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeletedBy" class="control-label"></label>
                <input asp-for="DeletedBy" class="form-control" />
                <span asp-validation-for="DeletedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BudgetYear" class="control-label"></label>
                <input asp-for="BudgetYear" class="form-control" />
                <span asp-validation-for="BudgetYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApprovedBudget" class="control-label"></label>
                <input asp-for="ApprovedBudget" class="form-control" />
                <span asp-validation-for="ApprovedBudget" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
